<h3>Jobs by level of interest</h3>
<table>
  <th>Interest Level</th><th>Number of Jobs</th>
  <% @jobs_by_interest.each do |interest, count| %>
    <tr>
      <td><%= interest %></td>
      <td><%= count %></td>
    </tr>
  <% end %>
</table>

<h3>Top Three Companies by Job Interest Level</h3>
<table>
  <th>Comapny Name</th><th>Level of Interest</th>
  <% @top_three.each do |company| %>
  <tr>
    <td><%= company.name %></td><td><%= company.jobs.average(:level_of_interest).to_f %>
  </tr>
  <% end %>
</table>
