<h3>All Jobs</h3>

<table>
  <th>Company</th><th>Title</th><th>Desciption</th><th>Level of Interest</th>
  <% @jobs.each do |job| %>

    <tr>
      <td><%= job.company.name %></td>
      <td><%= job.title %></td>
      <td><%= job.description %></td>
      <td><%= job.level_of_interest %></td>
    </tr>

  <% end %>
</table>
